/*-----------General Rules------------*/

* {
  margin: 0;
  padding: 0;
  /* font-family: "Nunito", sans-serif; */
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  transition: background-color 1s ease;
}

#about-me,
#skills,
#contact-me {
  background-color: var(--bg-color-secondary);
}

hr {
  padding: 0;
  margin: 0;
}

::selection {
  color: var(--text-color);
  background: var(--primary-color);
}

:root {
  --bg-color: #222e2f;
  --bg-color-secondary: #2b3738;
  --primary-color: #ff7360; /*#4043e8*/
  --text-color: #e7e8e8;
  --text-color-hover: #e7e8e8;
  --button-primary-color: #222e2f;

  --card-color: #1d2020;

  --button-text-color: #e7e8e8;
  --box-shadow-color: rgba(235, 96, 77, 1);

  --icon-color: #e7e8e8;
  --button-text: rgb(230, 229, 229);
  --quote-color: #c3685d;
}

.summer_theme {
  --bg-color: #fff1dc;
  --bg-color-secondary: #ece2d4;
  --primary-color: #3a98b9;
  --text-color: #3d4040;
  --text-color-hover: #e7e8e8;
  --button-primary-color: #3a98b9;
  --button-text-color: #e7e8e8;
  --primary-color: #3a98b9;
  --quote-color: #3a98b9;
  --box-shadow-color: rgb(77, 143, 235);

  --card-color: #c2c5c5;
}

.nav-link,
.nav-item {
  color: var(--primary-color) !important;
}

.navigation {
  display: grid;
  place-items: center;
}

.navbar-toggler,
.navbar-toggler-icon {
  color: white !important;
}

.nav-item:hover {
  border-bottom: 1px solid var(--primary-color) !important;
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.nav {
  padding: 5px 0px;
}

.section {
  height: 100vh;
  margin-inline: auto;
}

.personal_info {
  display: inline-block;
  max-width: 90%;
}

.section_header_description {
  color: var(--primary-color);
  font-size: 18px;
}

.section_header {
  padding: 30px 0px;
}

.section_header h2 {
  font-size: 37px;
  font-weight: 600;
}

/*---------Landing Page------------*/

.left_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_section h1 {
  font-size: 50px;
}

.left_section p {
  width: 90%;
  font-size: 19px;
}

#colored-name {
  color: var(--primary-color);
  font-weight: 700;
}

.social_media_landing_page {
  position: absolute;
  right: 40px;
  top: 40%;
  font-size: 27px;
  cursor: pointer;
}

.right_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_media_landing_page li:hover {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.large_btns {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--button-primary-color);
  border: 1px solid var(--primary-color);
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.5s ease-in-out;
}

.large_btns,
.large_btns a,
.large_btns i,
.btn_text {
  color: var(--button-text-color);
}

.large_btns:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

.btn_icons {
  font-size: 20px;
}

.social_media_landing_page li :hover {
  color: var(--primary-color);
}

.job_description h3 {
  display: inline-block;
  font-size: 18px;
  color: var(--primary-color);
}

.bg-image {
  margin-top: 7%;
  width: 400px;
  height: 400px;
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  border: 1px dotted var(--quote-color);

  background-image: url(./assets/images/mehero_bgremoved.png);
  background-position: center;
  background-size: cover;

  -webkit-box-shadow: 10px 43px 220px -10px var(--box-shadow-color);
  -moz-box-shadow: 10px 43px 220px -10px var(--box-shadow-color);
  box-shadow: 10px 43px 220px -10px var(--box-shadow-color);
  /* , 0px 0px 80px 10px rgba(44, 42, 42, 0.807) inset; */

  transition: box-shadow 1s ease;
}

.bg-image:hover {
  -webkit-box-shadow: 10px 43px 232px 73px var(--box-shadow-color);
  -moz-box-shadow: 10px 43px 232px 73px var(--box-shadow-color);
  box-shadow: 10px 43px 232px 73px var(--box-shadow-color),
    0px 0px 80px 10px rgba(44, 42, 42, 0.807) inset;
}

/*------------WELCOME MESSAGE----------------*/
.trns-text {
  color: transparent;
  -webkit-text-stroke: 3px var(--text-color); /* for Safari/Chrome */
  text-stroke: 3px var(--text-color);
}

.bg-color-landing {
  background: rgb(196, 196, 196);
  background: linear-gradient(
    209deg,
    rgba(196, 196, 196, 1) 0%,
    rgba(248, 70, 45, 1) 69%
  );
}

.animation_section {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}

.hero_section {
  position: relative;
}

.header_container {
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

.header_container {
  height: 10vh;
}

#landing-page {
  transition: opacity 3s ease-in-out;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90vh;
}

.welcome_title {
  font-size: 300px;
  opacity: 0;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 15px;
  font-weight: bold;
}

.right_welcome {
  position: absolute;
  right: 10%;
  top: 40%;
}

.left_welcome {
  position: absolute;
  top: 0;
  left: 10%;
}

/*---------------QUOTE GENERATOR--------------*/

.quote_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  max-width: 800px;
  margin-top: 50px;
  opacity: 0;
  transition: opacity 2s ease;
}

#author,
#quote {
  color: var(--quote-color);
}

#relax {
  height: 600px;
}

#quote {
  font-size: 40px;
  transition: opacity 2s ease;
}

#author {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  margin-top: 10px;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

/*----------Background image---------*/

#btn-change-theme-color {
  transform: translateX(50%);
  padding: 5px 18px;
  display: inline-block;
}

.project_photo {
  width: 350px;
  border-radius: 10px;
}

#form-svg {
  margin-top: -90px;
  padding-top: 0;
  max-width: 550px;
  max-height: 550px;
}

form {
  width: 80%;
}

.form_container {
  display: grid;
  place-items: center;
}

#about_img {
  width: 370px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.personal_description {
  margin-top: 2rem;
  font-size: 18px;
  padding-left: 50px;
}

.skills_header_divider {
  height: 2px;
  width: 80%;
  border-radius: 5px;
  background-color: var(--primary-color);
  margin-left: 10%;
}

.skills_list ul {
  list-style: none;
  padding-top: 20px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  /* background-color: red; */
  display: grid;
  place-items: center;
}

.skills_list ul li {
  width: 85%;
  height: auto;
  padding: 20px 15px;
  margin: 15px 0px;

  background: rgba(166, 164, 164, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.skills_list ul li:hover {
  -webkit-box-shadow: 0px 10px 13px -7px var(--primary-color),
    4px 3px 15px 5px rgba(255, 90, 98, 0);
  box-shadow: 0px 10px 13px -7px var(--primary-color),
    4px 3px 15px 5px rgba(247, 100, 100, 0);
}

#soft-skills ul li {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

#skills .section-main {
  padding-top: 20px;
}

/*-------------Project Section Cards-----------------*/

#projects .section-main {
  padding-top: 20px;
}

.meta_description {
  margin-top: 35px;
}

.meta_description p {
  margin-top: 20px;
  border-left: 2px solid var(--primary-color);
  padding-left: 5px;
}

.small_btns {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
  border: 1px solid var(--primary-color);
  padding: 8px 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease-out;
}

.small_btns:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

/*--------------Skills Section--------------------*/
.programming_languages_footer {
  background-color: #c3685d;
  /* width: 100px; */
}

strong {
  color: var(--primary-color);
  font-size: 20px;
}

/*------------Footer-------------------*/

footer {
  font-size: 20px;
}

.social_media_footer li a i {
  font-size: 25px;
}

.social_media_footer li:hover {
  cursor: pointer;
  color: var(--primary-color); /*BUG*/
}

/*---------Scroll to the top button -------------*/
#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a99999;
  color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.scrollToTopIcon {
  font-size: 20px;
}

#scrollToTopButton:hover {
  opacity: 1;
}

/*----------Project Section --------------*/

.card {
  width: 440px;
  height: 310px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 20px 20px;
  background-position: center;
  background-size: cover;
}

.card:nth-child(1) {
  background-image: url(/src/assets/images/ecord_dashboard.png);
}

.card:nth-child(2) {
  background-image: url(/src/assets/images/roll-the-dice-game.png);
}

.card:nth-child(3) {
  background-image: url(/src/assets/images/quiz-app.png);
}

.card-details {
  color: lightslategrey;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: var(--button-primary-color);
  color: var(--primary-color);
  font-size: 1rem;

  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.card-button a,
.card-button i {
  background-color: var(--button-primary-color);
  color: var(--primary-color);
  font-weight: bold;
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  color: lightslategrey;
  opacity: 0.5;
}

/*Hover*/
.card:hover {
  border-color: var(--primary-color);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.project_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project_short_description h4 a {
  font-weight: bold;
  color: var(--primary-color);
}

.img_container {
  display: grid;
  place-items: center;
}

.project_short_description_wrapper {
  width: 80%;
}

.about_me_description {
  padding-left: 80px;
  padding-top: 30px;
}
